@font-face {font-family:"Gowun Dodum";src:url("fonts/ha6e457933227_GowunDodum-Regular.ttf") format("truetype");font-weight:400;font-display:swap;}
@font-face {font-family:"Gowun Batang";src:url("fonts/h466c593e7147_GowunBatang-Regular.ttf") format("truetype");font-weight:400;font-display:swap;}
@font-face {font-family:"Gowun Batang";src:url("fonts/hdbfcaa646e58_GowunBatang-Bold.ttf") format("truetype");font-weight:700;font-display:swap;}
